/Assets/L7Skandinavia.txt
*.iml
*.xml
*.jar
Oppgaver/src/algoritmerOgDatastrukturer/Assets/L7Skandinavia.txt
output/production/Kotlin/algoritmerOgDatastrukturer/Assets/L7Skandinavia.txt

output
/output
output/*
/output/*
output/
/output/
Oppgaver/src/algoritmerOgDatastrukturer/Assets/vg4.txt
Oppgaver/src/algoritmerOgDatastrukturer/Assets/vgSkandinavia.txt
hs_err_pid23744.log
